@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #49A657;
}
.header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #49A657;
    text-align: center;
    }
#box1 {
    margin-top: 60px; 
    color: #f4faf5;
    height: 100px;
    text-align: center;
    font-family: 'SEBANG_Gothic_Bold';
    font-size:500%
}
#box2 {
    position: relative;
    color: #f4faf5;
    text-align: center;
    font-family: 'SEBANG_Gothic_Bold';
    margin: 30px 30px 20px 30px;
    border-bottom: 3px solid #e4f3e6;
    font-size:180%
}
#box3{
    position: relative;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    margin: -82px 30px 30px 50px;
    line-height: 0.8;
    font-size: 100%;
    position: relative;
}
#box4{
    display: block;
    position: relative;
    padding: 10px;
    top: 100px;
    left: 200px;
    width: 60%;
    background-color: #f4faf5;
    overflow: visible;
}
#box4 > img{ width: 100%;}
